header {
    padding: 0.8rem 0.8rem 0 0.8rem;
    background: black;
   
   
    .navbar{
        display: inline-flex;
        width: 98%;
        height: 30px;
        padding: 0.8rem;
        justify-content: space-between;

        p{
            color: white;
            display: flex;
            justify-content: flex-start; 
            padding-bottom: 0.5rem;
            font-size: 21px;

        }
    .links{

        display: flex;
        justify-content: flex-end;
        a{
            padding: 0 1rem;
            color: white;
            cursor: pointer;
        }
    }
  
}

}