header {
    padding: 0.8rem 0.8rem 0 0.8rem;
    background: #121212;
    font-family: 'Nunito Sans', sans-serif;
   
    .navbar{
        display: inline-flex;
        width: 98%;
        height: 30px;
        padding: 0.8rem;
        justify-content: space-between;
        color: #b8b8b8;

        .brand{
            color: #b8b8b8;
            display: flex;
            justify-content: flex-start; 
            padding-bottom: 0.5rem;
            font-size: 21px;

        }
    .links{

        display: flex;
        justify-content: flex-end;
        a{
            padding: 0 1rem;
            color: #b8b8b8;
            cursor: pointer;
        }
    }
  
}

}