main{
    p{
        display: flex;
        justify-content: center;
        font-size: 24px;
    }
    .card{
        display: flex;
        flex-direction: column;
        background: grey;
        width: 350px;
        padding: 1rem;
        img{
            width: 300px;
            height: auto;
        }
    }
   
    .itemCount{
        display: flex;
        justify-content: center;
flex-direction: column;
        .quantity{
            display: inline-flex;
            justify-content: center;

        }
        .confirm{
            display: flex;
            justify-content: center;


        }
    }
}