@import "./components/Navbar/NavBar";
@import "./components/main";
@import "./components/ItemList/ItemList";

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
  }

  a{
      text-decoration: none;
      color: black;
  }