header {
  padding: 0.8rem 0.8rem 0 0.8rem;
  background: black; }
  header .navbar {
    display: inline-flex;
    width: 98%;
    height: 30px;
    padding: 0.8rem;
    justify-content: space-between; }
    header .navbar p {
      color: white;
      display: flex;
      justify-content: flex-start;
      padding-bottom: 0.5rem;
      font-size: 21px; }
    header .navbar .links {
      display: flex;
      justify-content: flex-end; }
      header .navbar .links a {
        padding: 0 1rem;
        color: white;
        cursor: pointer; }

main p {
  display: flex;
  justify-content: center;
  font-size: 24px; }

main .itemCount {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  main .itemCount .quantity {
    display: inline-flex;
    justify-content: center; }
  main .itemCount .confirm {
    display: flex;
    justify-content: center; }

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box; }

a {
  text-decoration: none;
  color: black; }
